body{
	background: url(about.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center;
	text-align: center;
}
.frm{

	font-size: 50px;
	margin-top: 100px;

}

